/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

body {background-color: #000000;}

#content {background-color: #FAFAFA;
		  width: 90%;
		  margin: 0 auto;
		  border: 10px solid #650048;
		  border-radius: 20px;
		  margin-top: 4em;
		  margin-bottom: 2em;
		  padding-bottom: 20px;
		  padding-left: 20px;
		  padding-right: 20px;}
/***LANDING PAGE***/
#block1, #block2, #block3, #block4, #block5, #block6 {display: inline-block;
													  width: 25%;
													  text-align: center;
													  border: 1px solid #333333;
													  border-radius: 40px;
													  box-shadow: 2px 1px 2px #8C8C8C;
													  margin-right: 5%;
													  height: 10em;}
													  
#block1, #block3, #block5 {background: linear-gradient(#006963, #010033);}

#block2, #block4, #block6 {background: linear-gradient(#650048, #24003D);}	

#wrapper {margin: 30px auto;}
										  
#wrapper .row {margin-left: 8em;
			   margin-bottom: 0;}
			      
#wrapper {margin-top: 100px;
		  margin-bottom: 50px;}


#center-block {margin-top: -50px;
			   margin-left: 30px;
			   margin-bottom: 80px;}

#center-block h1 {color: #FFFFED;
				  font-family: 'Alegreya', serif;
			      font-size: 5em;
			      font-style: italic;
			      text-align: center;
			      margin-left: -200px;}

#center-block p {color: #FFFFED;
			     font-family: 'Alegreya Sans', sans-serif;
			     font-size: 1.2em;
			     width: 80%;}

#block1 p, #block2 p, #block3 p, 
#block4 p, #block5 p, #block6 p {padding-top: 40px;}

#block1 a, #block2 a, #block3 a, 
#block4 a, #block5 a, #block6 a {color: #FFF787;
			                     text-decoration: none;	
			                     font-size: 2em;}
			                     
#block1:hover, #block2:hover, #block3:hover, 
#block4:hover, #block5:hover, #block6:hover {opacity: .8;}

#block1 a:hover, #block2 a:hover, #block3 a:hover, 
#block4 a:hover, #block5 a:hover, #block6 a:hover {color: #FFFFED;
											       text-decoration: underline;}   	 

/**Navigation**/
nav {background-color: #010033;
	 text-align: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 9999;
	 width: 100%;}
nav a {display:inline-block;
       margin-top: 10px;}

nav a {font-family: 'Alegreya', serif;
	   font-weight: bold;
	   margin-left: 25px;
	   text-decoration: none;
	   color: #B1007F;
	   font-size: 1.25em;}
nav a:hover {text-decoration: underline;
             color: #FFF787;}

#active {background-color: #B1007F;
		 color: #24003D;
		 padding: 5px;
		 border-radius: 10px 10px 0px 0px;}
		 
#mobile-nav {display: none;}
             
/**Body**/

h1 {font-family: 'Alegreya', serif;
	font-size: 5em;
	color: #010033;
	margin-top: 1em;
	margin-bottom: 40px;
	text-align: center;}

h2 {font-family: 'Alegreya', serif;
	font-size: 3em;
	font-weight: bold;
	color: #650048;
	margin-top: 70px;
	margin-bottom:40px;}

h3 {font-family: 'Alegreya', serif;
	font-size: 2.5em;
	letter-spacing: 1px;
	 color: #010033;}

h4 {font-family: 'Alegreya', serif;
	font-size: 1.75em;
	letter-spacing: 1px;
	color: #010033;
	margin-top: 40px;}
	
#sub-nav {margin-left: -40px;}
#sub-nav li {display: inline;
			 text-decoration: underline;
			 margin-right: 20px;
			 font-family: 'Alegreya Sans', sans-serif;
		     font-size: 1.2em;
		     list-style: none;
		     font-weight: bold;}

#sub-nav li a {color: #006963;}

#sub-nav {font-size: 1.2em;}

p {font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.3em;}
.emphasis {font-weight: bold;}

p a {color: #006963;
     font-weight: bold;
     font-style: italic;}
p a:hover {text-decoration: underline;}

button {background-color: #B1007F;
		border-radius: 10px;
		border 1px solid #FAFAFA;
		padding: 5px;
		color: #FFFFED;
		font-style: normal;
		box-shadow: inset 1px 6px 12px #B1007F, inset -1px -10px 5px #650048, 1px 2px 1px black;
		font-size: 1em;}

button:hover {background-color: #FFFFED;
			  color: #B1007F;
			  box-shadow: inset 1px 6px 12px #FFFFED, inset -1px -10px 5px #FFF787, 1px 2px 1px black;}
			  
hr {border: 5px solid #006963;
    margin-top: 35px;
    margin-bottom: 50px;
    width: 98%;}

.txt-sq {padding-right: 20px;
		 padding-bottom: 45px;}
.txt-sq p {font-size: 1.3em;}

#intro-graph {max-width: 900px;
			  margin-bottom: 60px;
			  font-size: 21px;}	
			  
.image-title {font-family: 'Alegreya Sans', sans-serif;
			  font-weight: bold;
			  margin-top: 25px;
			  text-align: center;}	  

img {width: 80%;}
			
.img-border {border: 3px solid #010033;
			 padding: 3px;
			 border-radius: 5px;
			 margin-top: 30px;}

.web-descript {margin-left: 20px;
			   font-size: 1.5em;
			   width: 90%;}

.explanation {margin-top: 40px;
			  font-size: 1.3em;
			  max-width: 900px;}	 

.row-space {margin-top: 60px;}

.row-space img {margin-right: 60px;
				margin-left: 30px;}

.bio {margin-top: 30px;}
.bio p {max-width: 980px;
		letter-spacing: .5px;}


/**Footer**/
	footer {background-color: #010033;
			height: 80px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 10px;}
	footer a {font-family: 'Alegreya', serif;
	          font-weight: bold;
	          margin-right: 25px;
	          text-decoration: none;
	          color: #B1007F;
	          font-size: 1.25em;}
	footer a:hover {text-decoration: underline;
                    color: #FFF787;}
 
/**Tablet breakpoint(1)**/
@media (min-width: 482px) and (max-width: 916px) {
	/*index page*/
	#wrapper .row {margin-left: .5em;
				   margin-right: .5em;}
				   
	#block1, #block2, #block3, #block4, #block5, #block6 {width: 30%;
														  margin-left: 0;
														  margin-right: 10px;}
	
	#block1 a, #block2 a, #block3 a, 
	#block4 a, #block5 a, #block6 a {font-size: 1.25em;}
	
	#center-block h1 {font-size: 4em;
					  margin-left: -30px;}
					  
	#center-block p {width: 95%;}
	
	/*nav*/
	#desktop-nav {display: none;}
	#mobile-nav {display: block;}
	
	#mobile-nav {text-align: center;
				 padding-top: 10px;
				 padding-bottom: 10px;
				 padding-right: 20px;}
	
	#mobile-nav a {font-size: 1.10em;
				   line-height: 1.25em;}
	
	#on-page {color: #FFF787;}
	
	/*shared structures*/
	main {padding-left: 15px;
		  padding-right: 15px;}
			  
	#sub-nav {margin-bottom: 50px;}
	
	h1 {font-size: 4em;}
	
	h2 {margin-top: 0;
		font-size: 2.9em;}
		
	h3 {font-size: 2.25em;
		margin-top: -10px;}
	
	p {font-size: 1.3em;
	   width: 90%;}
	
	/*web design*/
	#intro-graph, .explanation {font-size: 1.3em;}
	.web-descript {width: 90%;}
	
	/*print design*/
	.img-border {margin-top: 60px;
				 margin-bottom: 20px;}
				 
	/*infographics*/
	.row-space {margin-top: 30px;}

    .row-space img {margin-right: 30px;
				    margin-left: 30px;}
	
}                   

/**Phone styles**/
@media (max-width: 480px) {
	#wrapper {margin-top: 0;}
	#wrapper .row {margin-left: .9em;
				   margin-right: .9em;}
	
	#block1, #block2, #block3, #block4, #block5, #block6 {display: inline-block;
													  width: 100%;
													  height: 3em;
													  border-radius: 20px;
													  margin-bottom: 5%;}
	#block1 p, #block2 p, #block3 p, 
    #block4 p, #block5 p, #block6 p {padding-top: 1px;
    								 line-height: 1em;}
    
	#block1 a, #block2 a, #block3 a, 
	#block4 a, #block5 a, #block6 a {font-size: 1em;}
	
	#center-block {margin-top: -100px;}
	#center-block h1 {font-size: 4em;
					  margin-left: -40px;}
	
	#center-block p {width: 95%;}
	
	#desktop-nav {display: none;}
	#mobile-nav {display: block;}
	
	
	#mobile-nav {height: 9em;
				 padding-top: 15px;
				 padding-bottom: 10px;
				 text-align: center;}
				 
	#mobile-nav a {font-size: 1.10em;
				   padding-left: 20px;
				   padding-right: 25px;
				   padding-bottom: 8px;
				   padding-top: 0;
				   margin-left: 0;
				   line-height: 1em;}
	
	#on-page {color: #FFF787;}
				 
	h1 {margin-top: 150px;
		margin-bottom: 20px;
		font-size: 4em;}
	
	h2 {margin-top: 30px;
		font-size: 2.25em;}
	h3 {font-size: 2em;}
	
	p {font-size: 1.05em;}
	
                
	/**print and web**/
	.explanation {font-size: 1em;}
	
	#sub-nav li {margin-right: 15px;
				 font-size: 1em;
				 display: block;
				 margin-bottom: 10px;}
				 
	#sub-nav {margin-bottom: 30px;}
	
	.img-border {padding: 5px;}
	
	/**infographics**/
	.row-space {margin-top: 30px;}
	.img-border {margin-left: 30px;
				 margin-top: 20px;}	
	
	footer a {font-size: 1em;
			  margin-right: 0;
			  padding-right: 10px;
			  margin-left: 15px;}	

}

/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/