/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

/***LANDING PAGE***/
			      
#wrapper {width: 100%;
          height: 25em;
		  background-color: #010033;
		  margin-top: 200px;
		  margin-bottom: 200px;
		  opacity: .7;
		  text-align: center;}
			
#wrapper h1 {padding-top: 40px;
			 text-align: center;
			 color: #FFF787;
			 font-family: 'Alegreya', serif;
			 font-size: 5em;
			 font-style: italic;
			 margin-bottom: 40px;}
			
#wrapper p {color: #FFF787;
			padding-left: 20px;
			padding-right: 20px;
			font-family: 'Alegreya Sans', sans-serif;
			font-size: 1.2em;}
			
.buttons {margin-top: 40px;}
			
.entry-menu {display: inline-block;}
.entry-menu a {font-size: 1.25em;
			   font-family: 'Alegreya', serif;
			   font-weight: bold;
			   margin: 5px;
			   color: #B1007F;
			   text-decoration: none;}
.entry-menu a:hover {color: #FFF787;
                     text-decoration: underline;}

/***REMAINING PAGES***/
body {background-color: #FFFFED;
	  background: linear-gradient(to bottom, #FFFFED, #FFF787);
	  background-repeat: no-repeat;
	  background-size: cover;}

/**Navigation**/
nav {background-color: #010033;
	 text-align: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 9999;
	 width: 100%;}
nav a {display:inline-block;
       margin-top: 10px;}

nav a {font-family: 'Alegreya', serif;
	   font-weight: bold;
	   margin-left: 25px;
	   text-decoration: none;
	   color: #B1007F;
	   font-size: 1.25em;}
nav a:hover {text-decoration: underline;
             color: #FFF787;}

#active {background-color: #B1007F;
		 color: #24003D;
		 padding: 5px;
		 border-radius: 10px 10px 0px 0px;}
/**Body**/

h1 {font-family: 'Alegreya', serif;
	font-size: 5em;
	color: #010033;
	margin-top: 120px;
	margin-bottom: 40px;}

h2 {font-family: 'Alegreya', serif;
	font-size: 3em;
	font-weight: bold;
	color: #650048;
	margin-top: 30px;}

h3 {font-family: 'Alegreya', serif;
	font-size: 2.5em;
	letter-spacing: 1px;
	 color: #010033;}

#sub-nav {margin-left: -40px;}
#sub-nav li {display: inline;
			 text-decoration: underline;
			 margin-right: 20px;
			 font-family: 'Alegreya Sans', sans-serif;
		     font-size: 1.2em;
		     list-style: none;
		     font-weight: bold;}

#sub-nav li a {color: #006963;}

p {font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.2em;}
.emphasis {font-weight: bold;}

p a {color: #006963;
     font-weight: bold;
     font-style: italic;}
p a:hover {text-decoration: underline;}

hr {border: 5px solid #006963;
    margin-top: 35px;
    margin-bottom: 50px;}
    
.section-border {margin-top: 30px;
				 padding-right: 20px;}
				 
#intro-graph {max-width: 900px;
			  margin-bottom: 60px;}	
			  
.image-title {font-family: 'Alegreya Sans', sans-serif;
			  font-weight: bold;
			  text-align: center;
			  font-size: 1.15em;
			  margin-top: 25px;}

.print-img {margin-left: 90px;
            margin-top: 40px;
			width: 350px;
			box-shadow: 3px 3px 8px #010033;
			padding: 10px;
			border-radius: 10px;}
			
.img-border {box-shadow: 3px 3px 8px #010033;
			 margin-left: 60px;
			 padding: 10px;
			 border-radius: 10px;}

.print-img2 {margin-top: 40px;
			 width: 500px;
			 box-shadow: 3px 3px 8px #010033;
			 padding: 10px;
			 border-radius: 10px;}
			 
.web-img {margin-top: 40px;
		  margin-left: 20px;
		  padding: 10px;
		  width: 525px;
		  box-shadow: 3px 3px 8px #010033;
		  border-radius: 10px;}

.web-descript {margin-left: 20px;}

.explanation {margin-top: 40px;
			  font-size: 1.35em;
			  max-width: 900px;
			  letter-spacing: 1px;}	 

.row-space {margin-top: 60px;}

/**Footer**/
	footer {background-color: #010033;
			height: 80px;
			margin-top: 30px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 10px;}
	footer a {font-family: 'Alegreya', serif;
	          font-weight: bold;
	          margin-left: 25px;
	          text-decoration: none;
	          color: #B1007F;
	          font-size: 1.25em;}
	footer a:hover {text-decoration: underline;
                    color: #FFF787;}
/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/