/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

/***LANDING PAGE***/

#block1, #block2, #block3, #block4, #block5, #block6 {display: inline-block;
													  width: 25%;
													  text-align: center;
													  border: 1px solid #333333;
													  border-radius: 40px;
													  box-shadow: 2px 1px 2px #8C8C8C;
													  margin-right: 5%;
													  height: 10em;}
													  
#block1, #block3, #block5 {background: linear-gradient(#006963, #010033);}

#block2, #block4, #block6 {background: linear-gradient(#650048, #24003D);}	
											  
#wrapper .row {margin-left: 8em;
			   margin-bottom: 0;}
			      
#wrapper {margin-top: 100px;
		  margin-bottom: 50px;}


#center-block {margin-top: -50px;
			   margin-left: 30px;
			   margin-bottom: 80px;}

#center-block h1 {color: #FFFFED;
				  font-family: 'Alegreya', serif;
			      font-size: 5em;
			      font-style: italic;
			      text-align: center;
			      margin-left: -200px;}

#center-block p {color: #FFFFED;
			     font-family: 'Alegreya Sans', sans-serif;
			     font-size: 1.2em;
			     width: 80%;}

#block1 p, #block2 p, #block3 p, 
#block4 p, #block5 p, #block6 p {padding-top: 40px;}

#block1 a, #block2 a, #block3 a, 
#block4 a, #block5 a, #block6 a {color: #FFF787;
			                     text-decoration: none;	
			                     font-size: 2em;}
			                     
#block1:hover, #block2:hover, #block3:hover, 
#block4:hover, #block5:hover, #block6:hover {opacity: .8;}

#block1 a:hover, #block2 a:hover, #block3 a:hover, 
#block4 a:hover, #block5 a:hover, #block6 a:hover {color: #FFFFED;
											       text-decoration: underline;}   	 
											                        
/***REMAINING PAGES***/
body {background-color: #FFFFED;
	  background: linear-gradient(to bottom, #FFFFED, #FFF787);
	  background-repeat: no-repeat;
	  background-size: cover;}

/**Navigation**/
nav {background-color: #010033;
	 text-align: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 9999;
	 width: 100%;}
nav a {display:inline-block;
       margin-top: 10px;}

nav a {font-family: 'Alegreya', serif;
	   font-weight: bold;
	   margin-left: 25px;
	   text-decoration: none;
	   color: #B1007F;
	   font-size: 1.25em;}
nav a:hover {text-decoration: underline;
             color: #FFF787;}

#active {background-color: #B1007F;
		 color: #24003D;
		 padding: 5px;
		 border-radius: 10px 10px 0px 0px;}
		 
#mobile-nav {display: none;}
             
/**Body**/

h1 {font-family: 'Alegreya', serif;
	font-size: 5em;
	color: #010033;
	margin-top: 120px;
	margin-bottom: 40px;}

h2 {font-family: 'Alegreya', serif;
	font-size: 3em;
	font-weight: bold;
	color: #650048;
	margin-top: 70px;}

h3 {font-family: 'Alegreya', serif;
	font-size: 2.5em;
	letter-spacing: 1px;
	 color: #010033;}

h4 {font-family: 'Alegreya', serif;
	font-size: 1.75em;
	letter-spacing: 1px;
	color: #010033;
	margin-top: 40px;}
	
#sub-nav {margin-left: -40px;}
#sub-nav li {display: inline;
			 text-decoration: underline;
			 margin-right: 20px;
			 font-family: 'Alegreya Sans', sans-serif;
		     font-size: 1.2em;
		     list-style: none;
		     font-weight: bold;}

#sub-nav li a {color: #006963;}

p {font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.2em;}
.emphasis {font-weight: bold;}

p a {color: #006963;
     font-weight: bold;
     font-style: italic;}
p a:hover {text-decoration: underline;}

hr {border: 5px solid #006963;
    margin-top: 35px;
    margin-bottom: 50px;}
    
.section-border {margin-top: 30px;
				 padding-right: 15px;}

.no-border {padding-left: 30px;
            margin-top: 40px;}

.border-right {border-right: 1em solid #650048;
			   border-radius: 20%;
			   margin-top: 40px;}
.border-left {border-left: 1em solid #650048;
			  border-radius: 20%;
			  padding-left: 45px;
			  margin-top: 40px;}
	 
#intro-graph {max-width: 900px;
			  margin-bottom: 60px;}	
			  
.image-title {font-family: 'Alegreya Sans', sans-serif;
			  font-weight: bold;
			  font-size: 1.15em;
			  margin-top: 25px;
			  text-align: center;}

img {width: 80%;}
			
.img-border {box-shadow: 3px 3px 8px #010033;
			 padding: 10px;
			 border-radius: 10px;
			 margin-top: 30px;}

.web-descript {margin-left: 20px;}

.explanation {margin-top: 40px;
			  font-size: 1.35em;
			  max-width: 900px;
			  letter-spacing: 1px;}	 

.row-space {margin-top: 60px;}

.row-space img {margin-right: 60px;
				margin-left: 30px;}

.bio {margin-top: 30px;}
.bio p {max-width: 980px;
		letter-spacing: .5px;}


/**Footer**/
	footer {background-color: #010033;
			height: 80px;
			margin-top: 30px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 10px;}
	footer a {font-family: 'Alegreya', serif;
	          font-weight: bold;
	          margin-right: 25px;
	          text-decoration: none;
	          color: #B1007F;
	          font-size: 1.25em;}
	footer a:hover {text-decoration: underline;
                    color: #FFF787;}
                    

/**Phone styles**/
@media (max-width: 320px) and (min-width: 480px) {
	#wrapper {margin-top: 0;}
	#wrapper .row {margin-left: 1em;}
	
	#block1, #block2, #block3, #block4, #block5, #block6 {display: inline-block;
													  width: 100%;
													  height: 3em;
													  border-radius: 20px;
													  margin-bottom: 5%;}
	#block1 p, #block2 p, #block3 p, 
    #block4 p, #block5 p, #block6 p {padding-top: 1px;
    								 line-height: 1em;}
    
	#block1 a, #block2 a, #block3 a, 
	#block4 a, #block5 a, #block6 a {font-size: 1em;}
	
	#center-block {margin-top: -100px;}
	#center-block h1 {font-size: 4em;
					  margin-left: -40px;}
	
	#desktop-nav {display: none;}
	#mobile-nav {display: block;}
	
	
	#mobile-nav {height: 9em;
				 padding-top: 15px;
				 padding-bottom: 10px;
				 text-align: center;}
				 
	#mobile-nav a {font-size: 1.10em;
				   padding-left: 20px;
				   padding-right: 25px;
				   padding-bottom: 8px;
				   padding-top: 0;
				   margin-left: 0;
				   line-height: 1em;}
	
	#on-page {color: #FFF787;}
				 
	h1 {margin-top: 150px;
		margin-bottom: 20px;
		font-size: 4em;}
	
	h2 {margin-top: 30px;
		font-size: 2.25em;}
	h3 {font-size: 2em;}
	
	p {font-size: 1.05em;}
	/**resume and articles**/
	.border-right, .border-left {border: none;}
	.border-left {padding-left: 15px;
                
	/**print and web**/
	.explanation {font-size: 1em;}
	
	#sub-nav li {margin-right: 15px;
				 font-size: .85em;
				 display: block;}
				 
	#sub-nav li a {padding-right: 100px;}
	#sub-nav {margin-bottom: 30px;}
	
	.img-border {padding: 5px;}
	
	/**infographics**/
	.row-space {margin-top: 30px;}
	.img-border {margin-left: 30px;
				 margin-top: 20px;}	
	
	footer a {font-size: 1em;
			  margin-right: 0;
			  padding-right: 10px;
			  margin-left: 15px;}	

}

/*
	Color Palette
	#24003D (purple)
	#010033 (blue)
	#650048 (magenta)
	#B1007F (lighter magenta)
	#FFF787 (yellow)
	#FFFFED (lighter yellow)
	#006963 (teal)
*/