@import url('https://fonts.googleapis.com/css?family=Aladin|PT+Sans+Narrow:400,700');

/*
  Author: Jennifer Bailey
  Document: CSS file

  Google Fonts
  font-family: 'Aladin', cursive;
  font-familY; 'PT Sans Narrow', sans-serif;
  
  Colors
  #3B8686 (teal)
  #79BD9A (light sea foam)
  #69D2E7 (bright turquoise)
  #E8DDCB (tan)
  #033649 (dark teal blue)
  #031634 (navy blue)
*/

body {background-color: #3B8686;}

#mobile {background-color: #033649;
	 	 text-align: center;
	     position: fixed;
	     bottom: 0;
	     left: 0;
	     z-index: 9999;
	     width: 100%;
	     border-top: 2px solid #79BD9A;}

#mobile p {display: inline-block;
		   padding: 15px;
		   padding-bottom: 0;}

#mobile a {color: #69D2E7;}

#mobile a:hover {color: #ffffff;
				 text-decoration: none;}

#on-page {color: #ffffff;}
				 
#active {color: #ffffff;
		 text-decoration: underline;}

#desktop {display: none;}
/*
#desktop {background-color: #033649;
	 	  text-align: center;
	      position: fixed;
	      top: 0;
	      left: 0;
	      z-index: 9999;
	      width: 100%;
	      margin-bottom: 0;}
#desktop p {display: inline-block;
		    padding: 10px;}
#desktop a {color: #69D2E7;}
*/

#search {width: 100%;
		 position: absolute;
		 top: 7px;
		 left: 0;
		 z-index: 9999;}
.searchTerm {float: left;
			 width: 85%;
			 border: 2px solid #031634;
			 padding: 5px;
			 height: 1.75em;
			 border-radius: 5px;
			 outline: none;
			 color: #031634;}
.searchTerm:focus {color: #031634;}
.searchButton {position: relative;
			   float: right;
			   width: 47px;
  			   border: 1px solid #000000;
  			   background: #031634;
  			   text-align: center;
  			   color: #fff;
  			   border-radius: 5px;
  			   padding: 2px;
  			   font-size: 1em;
  			   height: 25px;}
	   	 
header {background-image: url(assets/header_wave.jpg);
		background-repeat: no-repeat;
		background-size: 100%; 
		margin-top: 40px;
		margin-bottom: 0;} 

h1 {font-family: 'Aladin', cursive;
	text-align: center;
	font-size: 4em;
	padding: 20px;
	margin-top: 0;
	line-height: 1.1em;
	color: #69D2E7;
	text-shadow: 4px 4px 4px #000000;}

main {width: 90%;
	  margin: 0 auto;
	  margin-top: 30px}

h2 {font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
    background-color: #033649;
    color: #E8DDCB;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 30px;
    font-weight: normal;}  
    
h3 {font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    color: black;}

h4 {font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.25em;
	margin-bottom: 30px;
	color: #000000;
	letter-spacing: .5px;}

h4 a {color: #69D2E7;
	  letter-spacing: .5px;}
	  
h4 a:hover {color: #ffffff;}

h6 {font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    padding-top: 10px;
    color: black;
    line-height: 1.4em;}
    
p, ul {font-family: "Gill Sans", Helvetica, Arial, sans-serif;
       font-size: 1em;
       color: black;}

ul {margin-top: 20px;
	margin-left: -30px;
	list-style: none;
	margin-bottom: 10px;}

ul li {margin-bottom: 10px;}

ul li a {color: #69D2E7;
		 letter-spacing: .5px;}
		 
ul li a:hover {color: #ffffff;}

.link a {font-style: italic;
		 color: #69D2E7;
		 letter-spacing: .5px;}

.link a:hover {color: #ffffff;}
  
hr {border: .5px solid #031634;
    width: 70%;
    margin-top: 35px;
    margin-bottom: 30px;}

.more {width: 100%;
	   margin-top: 40px;
	   margin-bottom: 10px;
	   padding: 10px;
	   border-radius: 40px;
	   font-family: "Gill Sans", Helvetica, Arial, sans-serif;
       font-size: 1em;
       background-color: #031634;
       border: 1px solid #69D2E7;
       box-shadow: 4px 4px 4px #031634;
       text-align: center;}

.more a {text-decoration: none;
		 color: #69D2E7;}  

.more:hover {box-shadow: 0px 0px 6px #E8DDCB;}

.more2 {width: 100%;
	    margin-top: 40px;
	    margin-bottom: 10px;
	    padding: 10px;
	    border-radius: 40px;
	    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
        font-size: 1em;
        background-color: #031634;
        border: 1px solid #69D2E7;
        box-shadow: 4px 4px 4px #031634;
        text-align: center;}

.more2 a {text-decoration: none;
		  color: #69D2E7;}  

.more2:hover {box-shadow: 0px 0px 6px #E8DDCB;}

#subscribe {background-color: #E8DDCB;
			padding-bottom: 5px;
			margin-top: 50px;
			margin-bottom: 50px;}
#subscribe p {text-align: center;
			  padding: 10px;}
			   
#subscribe a {color: #033649;
		      letter-spacing: .5px;
		      text-decoration: none;}
#subscribe a:hover {font-style: italic;
					font-weight: bold;}

#viewers {margin-top: 50px;
		  margin-bottom: 30px;}					
#viewers img {width: 100%;
	          margin-top: 20px;
	          border: 1px solid #031634;}
#viewers p {text-align: center;}
#viewers a {font-style: italic;
		    color: #69D2E7;
		    letter-spacing: .5px;}
#viewers a:hover {color: #ffffff;}   

.name {font-style: italic;}

img {width: 100%;
	 margin-bottom: 10px;
	 border: 1px solid #031634;}

.space-img {margin-top: 20px;}


.small-float-left {float: left;
				   width: 50%;
				   margin-right: 15px;}

/**video player**/
#player-wrapper {clear: both;
				 width: 100%;
				 margin-top: 60px;
				 margin-bottom: 20px;
				 padding: 5px;
				 border-radius: 40px;
				 text-align: center;}

.control {font-size: 1.5em;
		  display: inline-block;
		  padding-left: 5px;
		  padding-right: 5px;}

button {background-color: #033649;
		border: 1px solid #69D2E7;
		color: #69D2E7;
		border-radius: 50px;
		box-shadow: 2px 2px 4px #031634;
		width: 50px;
		height: 50px;}
		  
button:hover {color: #ffffff;}

#audio-bar {background-color: #E8DDCB;
			width: 100%;
			margin-top: 20px;
			padding: 0;
			border: 1px solid #031634;
			box-shadow: 2px 2px 4px #031634;}

#progress {background-color: #79BD9A;
		   width: 50%;
		   padding: 0;
		   border-right: 3px solid #000000;}
#progress h6 {text-align: right;
			  font-size: 1em;
			  padding: 2px;
			  margin: 0;}

footer {font-size: .9em;
		width: 100%;
		margin-bottom: 50px;
		padding: 10px;
		border-top: 2px solid #79BD9A;}	
footer p {color: #E8DDCB;
		  letter-spacing: .4px;}
footer a {color: #69D2E7;}	
footer a:hover {color: #ffffff;}	

/****

  #3B8686 (teal)
  #79BD9A (light sea foam)
  #69D2E7 (bright turquoise)
  #E8DDCB (tan)
  #033649 (dark teal blue)
  #031634 (navy blue)
****/