@import url('https://fonts.googleapis.com/css?family=Carter+One');
* {box-sizing: border-box;}
header, nav, main, footer {display: block;}

body {background-color: #ffffff;
	  background-image: url(assets/blue.jpg);}
#wrapper {width: 1024px;
		  margin: auto;
		  background-color: #FFFFFF;
		  border-radius: 10px;
		  border: 5px solid #000000;
		  box-shadow: -8px 8px 20px #000000; /* horizontal vertical blur color spread color value*/}

/*header content*/		  
header {background-image: url(assets/skyline1.jpg);
		background-color: #3FDBDB;
		border-bottom: 4px dashed #000000;
		border-radius: 5px 5px 0 0;
		margin-top: -54px;
		height: 200px;}
h1 {font-family: 'Carter One', cursive;
	font-size: 5.5em;
	color: #472E74;
	text-shadow: -4px 4px 2px #F37320;
	text-align: center;
	padding-top: 40px;
	margin-top: 54px}
	
/*navigation content*/
nav {font-family: "Gill Sans", Arial, sans-serif;
	 font-size: 1em;
	 text-transform: uppercase;
	 float: left;
	 width: 250px;
	 margin-top: 20px;}
nav ul {list-style-type: none;}
nav ul li {margin-right: 20px;
		   margin-top: 20px;}
nav a {text-decoration: none;
	   line-height: 3em;
	   display: block;
	   text-align: center;
	   font-weight: bold;
	   border: 3px outset #000000;
	   border-radius: 50px;}
nav a:link {color: #472E74;}
nav a:hover {color: #3FDBDB;
			 border: 3px inset #333333;}
#active {color:#F37320;}

#nav2 {width: 100%;
	  margin-top: 20px;
	  margin-bottom: -20px;
	  font-family: "Gill Sans", Arial, sans-serif;
	  font-size: .95em;
	  font-weight: bold;}
#nav2 ul {padding: 0;
		   margin: 0;
		   text-align: center;
		   list-style: none;}
#nav2 ul li {display: inline;
		      margin-right: 50px;}
#nav2 ul li a {display: inline-block;
		  		text-decoration: none;
		  		padding: .8em;
		  		color: #000000;}
#nav2 ul li a:hover {color: #F37320;}


/*main content*/
main {margin-left: 290px;
	  padding-right: 20px;
	  padding-bottom: 20px;}

h2 {font-family: 'Carter One', cursive;
	font-size: 3em;
	color: #472E74;
	margin-top: 23px;
	margin-bottom: -10px;}

h3 {font-family: Garamond, serif;
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 0;}

h4 {font-family: 'Carter One', cursive;
	font-size: 1.5em;
	color: #472E74;
	margin-bottom: -10px;}

h5 {font-family: 'Carter One', cursive;
	font-size: 1.5em;
	color: #472E74;
	margin-bottom: 10px;}
	
h6 {font-family: "Gills Sans", Arial, sans-serif;
	font-size: 1.05em;
	text-align: center;
	margin-top: 5px;}

p {font-family: "Gills Sans", Arial, sans-serif;
   font-size: 1.10em;
   padding-right: 30px;}
p a {text-decoration: none;
			 color:#F37320;}
			 
.label {font-weight: bold;}

ul {font-family: "Gills Sans", Arial, sans-serif;
   font-size: 1.10em;}

ol {font-family: "Gills Sans", Arial, sans-serif;
   font-size: 1.10em;}

ol li a {text-decoration: none;
			 color:#F37320;}
   
#signature {font-style: italic;}

.floatleft {float: left;
			width: 300px;
			margin-top: 48px;
			margin-right: 20px;}
.floatleft2 {float: left;
			width: 250px;
			margin-top: 30px;
			margin-right: 20px;}
			
#event2 {margin-top: 50px;
		 margin-bottom: 50px;}

.floatright {float: right;
			 width: 400px;
			 margin-top: 5px;
			 margin-left: 15px;
			 margin-right: 20px;}			 
.floatright2 {float: right;
			 width: 400px;
			 margin-top: -40px;
			 margin-left: 15px;
			 margin-right: 20px;}
.floatright3 {float: right;
			 width: 400px;
			 margin-top: 45px;
			 margin-left: 15px;
			 margin-right: 30px;
			 margin-bottom: 10px;}

.breakout {width: 30%;
		   float: left;
		   border: 2px dashed #3FDBDB;
		   padding-left: 3px;
		   padding-right: 3px;
		   margin-bottom: 10px;
		   margin-right: 20px;}
.breakout h6 {margin-bottom: 0;}
.breakout ul li a {text-decoration: none;
			 	   color:#F37320;}
			 
.icon {width: 225px;
	   float: left;
	   margin-top: 15px;
	   margin-right: 20px;}
	   
.iconsmall {width: 50px;
	   		float: left;
	   		margin-top: 0;
	   		margin-right: 20px;}

/*forms content*/	
#form {width: 100%;
	   float: left;
	   margin-left: 30px;
	   margin-top: 150px;} 
#form p {font-size: .8em;
		 margin-right: 20px;
		 text-transform: none;}  
label {float: left;
	   display: block;
	   width: 8em;
	   padding-right: 1em;
	   font-family: "Gill Sans", Arial, sans-serif;
	   font-size: .8em;
	   font-weight: bold;
	   text-transform: none;}  
input, textarea, select {display: block;
				 margin-bottom: 2em;}
#mySubmit {margin-left: 50px;}

#formbig {width: 100%;
	   float: left;
	   margin-top: 20px;
	   margin-bottom: 20px;}
#formbig p {font-size: 1em;} 

#formbig label {float: left;
	   		  display: block;
	          width: 10em;
	   		  padding-right: 3em;
	   		  font-family: "Gill Sans", Arial, sans-serif;
	   		  font-size: 1em;
	   		  font-weight: bold;} 
#mySubmit2 {margin-left: 120px;
			width: 100px;
			font-size: 1.25em;}
			
table {width: 80%;
	   margin-left: 50px;
	   text-align: center;
	   border: 1px solid #000000;
	   border-collapse: collapse;}
th, td {border: 1px solid #000000;
		width: 20px;
		font-size: 1.25em;
		font-family: "Gill Sans", Arial, sans-serif;}
.special {border-left: 1px solid #ffffff;
		  border-right: 1px solid #ffffff;
		  border-bottom: 1px solid #ffffff;}
			
		 
/*footer content*/
footer {clear:both;
		width: 100%;
		font-family: "Gill Sans", Arial, sans-serif;
		font-size: .75em;
		font-weight: bold;
		background-color: #3FDBDB;
		border-radius: 0 0 5px 5px;}
footer ul {padding: 0;
		   margin: 0;
		   text-align: center;
		   list-style: none;}
footer ul li {display: inline;
		      margin-right: 10px;}
footer ul li a {display: inline-block;
		  		text-decoration: none;
		  		padding: .8em;
		  		color: #000000;}
footer ul li a:hover {color: #F37320;}
#mobile {display: none;}
#desktop {display: inline;}

.logo {width: 15px;
	   vertical-align: middle;
	   margin-right: 5px;}
	   
@media only screen and (max-width: 1024px){
	body {margin: 0;}
	#wrapper {width: auto;}
	main {margin-left:0;
		  padding-left: 30px;
		  padding-right: 30px;}
	nav {float: none;
		 width: auto;
		 margin-left: -32px;}
	nav li {display: inline;
			padding: 0;
			width: none;}
	nav ul {text-align: center;}
	nav a {border-bottom: 2px dashed #000000;
		   border-top: none;
		   border-left: none;
		   border-right: none;
		   border-radius: 0;
		   padding-bottom: .5em;
		   line-height: 1em;}
	nav a:hover {border-bottom: 2px dashed #000000;
				 border-top: none;
		  		 border-left: none;
		 	     border-right: none;}
	h1 {font-size: 500%;
		width: auto;}
	header {background-image: url(assets/blue.jpg);
			height: auto;}
	h2 {text-align: center;}
	h3 {overflow: visible;}
	h4 {margin-top: 80px;}
	
	#form {display: none;}
	#formbig {text-align: center;}
	#formbig label {margin-left: 300px;}
	#mySubmit2 {margin-left: 450px;}
	
	.floatleft {width: 25%;}
	.floatleft2 {width: 25%;}
	
	.floatright {width: 30%;}			 
	.floatright2 {width: 50%;}
	.floatright3 {width: 50%;}
}

@media only screen and (max-width: 768px){
	
	h1 {font-size: 4em;
		width: auto;
		padding-left: 30px;
		padding-right: 30px;}
	h3 {overflow: visible;}
	
	#nav2 {width: 90%;}
	#nav2 ul li {display: inline;
				 margin-right: 5px;
				 margin-left: 5px;}
	#nav2 ul li a {line-height: .5em;
					font-size: .8em;}
	
	#formbig {width: 90%}
	#formbig label {margin-left: 0;}
	#mySubmit2 {margin-left: 100px;
				width: 100px;}
				
	.icon {width: 95px;
	   	   float: left;
	   	   margin-top: 15px;
	   	   margin-right: 20px;}
	.iconsmall {width: 25px;
	   		float: left;
	   		margin-top: 10px;
	   		margin-right: 5px;}
	   		
	.breakout {width: 150px;
		   float: left;
		   border: 2px dashed #3FDBDB;
		   padding-left: 3px;
		   padding-right: 3px;
		   margin-bottom: 10px;
		   margin-right: 10px;
		   font-size: .7em;
		   padding-left: 0;}
	.breakout ul li {text-align: left;}
		   
	.floatleft {clear: left;
				width: 100px;}
	.floatleft2 {clear: left;
				width: 125px;}
	
	.floatright {display:none;}			 
	.floatright2 {clear: right;
				  margin-top: 20px;
				width: 150px;}
	.floatright3 {display: none;}
	
	table {width: 80%;
	   	   margin-left: 0;
	       text-align: center;
	       border: 1px solid #000000;
	       border-collapse: collapse;}
th, td {border: 1px solid #000000;
		width: 20px;
		font-size: 1em;
		font-family: "Gill Sans", Arial, sans-serif;}
.special {border-left: 1px solid #ffffff;
		  border-right: 1px solid #ffffff;
		  border-bottom: 1px solid #ffffff;}
		   
	footer ul li {padding-right: 5px;}	
	#mobile {display: inline;}
	#desktop {display: none;}
}
/*orange: #F37320;*/