@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Metal+Mania');

/*format the web fonts as follows: font-family: 'Metal Mania', cursive;
								   font-family: 'Jim Nightshade', cursive;*/

body {background-color: #072642;
	  margin: 0;
	  background-image: url(assets/darkwoods2.jpg);
	  background-attachment: fixed;
	  background-size: cover;}

#container {width: 920px;
			margin: auto;
			background-color: #232323;
	  		opacity: .9;}
	  
header {width: 100%;}

/*nav and nav content formatting*/
nav {width: 100%;
	background-color: #072642;
	font-size: 1em;
	font-family: "Gill Sans", Arial, sans;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;}
nav ul {padding: 0;
		margin: 0 auto;
		text-align: center;
		list-style: none;}
nav ul li {display: inline;}
nav ul li a {display: inline-block;
			 text-decoration: none;
			 padding: .8em;
			 color: #618F3E;
			 background-color: #072642;
			 width: 15%;}

nav ul li a:link {color: #618F3E;}
nav ul li a:hover {color: #730099;}
.active {border-top: 2px solid #730099;
		 border-bottom: 2px solid #730099;
		 border-radius: 15px;
		 margin-top: 2px;
		 margin-bottom: 2px;}

/*general body content formatting*/
main {width: 95%;
	  margin-right: auto;
	  margin-left: auto;
	  background-color: #CDC0AD;
	  opacity: 1;}
	  
main p {padding-top: 20px;
		padding-right: 40px;
		padding-bottom: 0;
		padding-left: 20px;}
main p a {text-decoration: none;
		  color: #730099;}
main p a:hover{color: #618F3E;}

.main_image {width: 450px;
			 float: left;
			 margin: 20px;
			 padding-top: 10px;}
			 
h1 {font-family: 'Jim Nightshade', cursive;
	font-weight: normal;
	font-size: 5em;
	color: #232323;
	text-transform: lowercase;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	padding-left: 10px;
	line-height: 1em;
	padding-top: 30px;}

.indent {padding-left: 35px;}

h2 {font-family: "Gill Sans", Arial, sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: -10px;
	color: #232323;
	padding-top: 2px;
	padding-right: 40px;}
	
h3 {font-family: Garamond, serif;
	font-weight: normal;
	font-size: 2em;
	margin-left:10px;
	margin-bottom: -20px;
	color: #232323;
	padding: 3px;}
	
h4 {font-family: Garamond, serif;
	font-size: .90em;
	margin-bottom: -15px;
	color: #072642;
	padding: 3px;}	

h5 {font-family: Garamond, serif;
	font-size: .90em;
	margin-right: 20px;
	margin-left: 11px;
	margin-bottom: -25px;
	background-color: #072642;
	color: #618F3E;
	padding: 8px;
	width: 370px;}
	
h6 {font-family: "Gill Sans", Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #232323;}
	
p {font-family: "Gill Sans", Arial, sans-serif;
   font-size: 1em;
   color: #232323;}

.band {font-style: italic;
	   color: #072642;}
.bold_profile {font-weight: bold;}

/*news and about us divs content formatting*/	   
#newscol1 {background-color: #CDC0AD;
		   float: left;
		   width: 417px;
		   padding: 10px;
		   margin-top: -16px;
		   margin-bottom: 20px;}
#newscol1 p {padding-left: 10px;}

#newscol2 {background-color: #CDC0AD;
		   float: left;
		   width: 417px;
		   padding: 10px;
		   margin-top: -16px;
		   margin-bottom: 20px;}
#newscol2 p {padding-left: 12px;}

.profile_img1 {float: left;
			  width: 200px;
			  margin-top: 43px;
			  margin-right: 10px;
			  margin-left: 10px;}
		 
/*music and merch divs content formatting*/
#submenu {float: left;
		  width: 160px;
		  background-color: #CDC0AD;
		  margin-top: 20px;
		  margin-bottom: 20px;}
		  
#submenu ul li {text-align: center;
				padding-top: 16px;
				padding-right: 35px;
				padding-bottom: 16px;
				list-style: none;}		  
#submenu ul li a {text-decoration: none;
				  font-family: Garamond, serif;
				  font-size: 1.15em;
				  font-weight: bold;
				  color: #730099;}
#submenu ul li a:hover {text-decoration: underline;
				  		color: #072642;}
				  				
#itemcol1 {float:left;
		   width: 237px;
		   margin-top: 20px;
		   background-color: #CDC0AD;
		   margin-bottom: 20px;}
#itemcol2 {float: left;
		   width: 237px;
		   margin-top: 20px;
		   background-color: #CDC0AD;
		   margin-bottom: 20px;}
#itemcol3 {float: left;
		   width: 237px;
		   margin-top: 20px;
		   background-color: #CDC0AD;
		   margin-bottom: 20px;}
#itemcol1 ul li, #itemcol2 ul li, #itemcol3 ul li {list-style:none;
													color: #232323;
													font-family: "Gill Sans", Arial, sans-serif;
													text-align: center;
													padding-right: 35px;
													font-size: .8em;
													line-height: 2.5em;}
.item_img {width: 180px;
		   margin-top: 20px;
		   margin-bottom: 10px;
		   padding-left: 30px;}
		   
.button {font-family: "Gill Sans", Arial, sans-serif;
		 font-weight: bold;
		 font-size: 1.5em;
		 text-transform: uppercase;
		 color: #072642;
		 text-align: center;
		 padding-left: 35px;
		 text-shadow: -1px -1px 10px #730099; /* horizontal vertical blur color spread color value*/
		 width: 100px;
		 margin: 20px auto;}
		 
.button_active {width: 120px;
				margin-left: auto;
				margin-right: auto;
				padding: 5px;
				font-family: "Gill Sans", Arial, sans-serif;
				font-weight: bold;
				font-size: 1.25em;
				color: #730099;
				text-align: center;
				text-transform: uppercase;
				background-color: #072642;
				border-radius: 10px;}
.button_active:hover {box-shadow: 0 6px 9px 0 #618F3E;}

#bottom {clear: both;
		 font-size: .80em;
		 padding-bottom: 3px;
		 margin-bottom: 20px;}

/*table and table content formatting*/			  
table {margin: auto;
	   width: 800px;
	   border-collapse: collapse;}
caption {font-family: 'Jim Nightshade', cursive;
	font-weight: normal;
	font-size: 5em;
	color: #232323;
	text-transform: lowercase;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	line-height: 1em;
	padding-top: 30px;}
th, td {font-family: "Gill Sans", Arial, sans-serif;
		line-height: 1.75em;}
th {border-bottom: 1px solid #232323;
	padding-top: 20px;
	font-size: 1.50em;}		
td {text-align: center;
	font-size: 1.15em;
	border-bottom: 1px solid #232323;}
td a {text-decoration: none;
	  color: #232323;}
td a:hover {color: #730099;
			text-decoration: underline;}

/*footer and footer content formatting*/
footer {width: 100%;
		background-color: #072642;
		border-top: 2px solid #618F3E;
		clear: both;}		
footer ul {padding: 0;
		   margin: 0;
		   text-align: center;
		   list-style: none;}
footer ul li {display: inline;}
footer ul li a {display: inline-block;
				text-decoration: none;
				padding: 1em;
				color: #CDC0AD;
				font-size: .75em;
				font-family: "Gill Sans", Arial, sans-serif;}
.logo {width: 15px;
	   vertical-align: middle;
	   margin-right: 5px;}
