@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');
/*font-family: 'Josefin Slab', serif;*/


/*Styles for screens starting at 320*/

/*Universal styles*/
body {background-color: #1E1D26;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  overflow-x: hidden;}
	  
header {background-color: #F7F8F3;
		width: 100%;
		margin-top: 50px;
		margin-bottom: 0;}

header img {margin: 10px 0 5px 35%;
			width: 100px;}
			
header i {margin-left: 10%;
		  float: right;
		  margin-top: 25px;
		  font-size: 20px;}
	
nav {background-color: #F7F8F3;
	 width: 100%;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 9999;}
	 
nav ul {list-style: none;
		font-family: 'Josefin Slab', serif;
		font-weight: 700;
		font-size: 1em;
		width: 98%;
		text-transform: lowercase;
		padding: 0;
		margin: 0 auto;
		text-align: center;} 

nav ul li {display: inline;}		
nav ul li a {color: #5C13A5;
			 text-decoration: none;
			 display: inline-block;
			 padding: 7px 3% 2% 3%;}

nav ul li a:hover, nav ul li a:active {background-color: none;
		                               color: #7F1AE5;
		                               border-radius: 4px;
		                               border: 3px solid #7F1AE5;}
		                               
#active {background-color: none;
		 color: #7F1AE5;
		 border-radius: 4px;
		 border: 3px solid #7F1AE5;}


main {margin: 0;}
h1, h2, h3, h4, h5, h6 {font-family: 'Josefin Slab', serif;}
p {font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";}		 

button, .button {background-color: #C86521;
		         border: 1px solid #C86521;
		         border-radius: 4px;
		         color: #F7F8F3;
		         font-size: 1.25em;
	             font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";
		         padding: 10px;
		         text-transform: uppercase;
		         text-align: center;
		         text-decoration: none;}

.button a {color: #F7F8F3;}

button:hover, button:active, 
.button:hover, .button:active {background-color: transparent;
							   border: 3px solid #C86521;
							   color: #C86521;
							   font-weight: bold;
							   cursor: pointer;}

.button a:hover, .button a:active {color: #C86521;}

#search {background-color: #F7F8F3;
		 padding: 1em;}

input {width: 65%;
	   height: 2em;
	   padding: 5px;
	   font-size: 1.25;
	   border: 1px solid #C86521;}

input:focus {border-color: #7F1AE5;
			 box-shadow: 0 0 6px #7F1AE5;}

			 
#searchButton, #searchBtn, #close {background-color: #C86521;
				                   border: 1px solid #C86521;
				                   border-radius: 4px;
				       			   color: #F7F8F3;
				       			   font-size: 1em;
				       			   font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";
				       			   padding: 6px;}

#searchButton:hover, #close:hover,
#searchButton:active, #close:active {background-color: transparent;
									 border: 3px solid #C86521;
									 color: #C86521;
									 font-weight: bold;
									 cursor: pointer;}

#close {margin: 10px auto;
		display: block;}


/*New book section on home page*/
#new-book {background-color: #380c65;
           background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235c13a5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%237f1ae5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
           /* background by SVGBackgrounds.com */
           padding: 10px;
           padding-bottom: 30px;}

#new-book h1 {color: #F7F8F3;
			  text-align: center;
			  font-weight: 700;
			  font-size: 3em;}

#new-book img {transform: rotate(-10deg);
			   margin: 0 auto;
			   display: block;
			   width: 65%;}
			   
#new-book img:hover, #new-book img:active {box-shadow: 0px 0px 8px #F7F8F3;}

#new-book p {color: #F7F8F3;
			 font-style: italic;
			 font-size: 1.75em;
			 text-align: center;}
			 
#new-book .button {margin: 0 auto;
				   display: block;
				   width: 40%;}

												 
/*Featured author on home page*/
#feat-author {background-color: #F7F8F3;
			  padding: 20px 10px 30px 15px;}

#feat-author h2 {text-align: center;
				 font-weight: 700;
				 color: #363544;
				 font-size: 2.5em;
				 margin-bottom: 20px;
				 margin-top: 10px;}

#feat-author img {margin: 0 auto;
				  display: block;
				  width: 65%;}
					  
#feat-author h6 {text-align: center;
				 font-size: 1.95em;
				 margin-top: 20px;
				 padding-top: 0;
				 margin-bottom: 10px;
				 padding-bottom: 0;
				 color: #363544;}
#feat-author p {color: #363544;
				font-size: .9em;
				margin: 0 auto;
				margin-bottom: 30px;
				text-align: center;
				width: 80%;}
				
.book-title {font-style: italic;}

#feat-author .button {margin: 0 auto;
				      display: block;
				      width: 50%;}

/**On sale section on home page**/												       
#sale {background-color: #1e1d26;
       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23363544'/%3E%3C/svg%3E");
       /* background by SVGBackgrounds.com */
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 40px;}

#sale h2 {text-align: center;
		  font-weight: 700;
		  color: #F7F8F3;
		  font-size: 2.5em;}

#item1 {float: left;
		margin-bottom: 30px;
		width: 45%;}
#item2 {float: right;
		margin-bottom: 30px;
		width: 45%;}

#item1 img, #item2 img {width: 100%;}

#item1 img:hover, #item1 img:active, 
#item2 img:hover, #item2 img:active {box-shadow: 0px 0px 8px #F7F8F3;}

.strikethru {text-align: center;
			 color: #F7F8F3;
			 text-decoration: line-through;
			 line-height: 1em;}

.saleprice {text-align: center;
			color: #C86521;
			font-weight: 700;
			line-height: 1em;}
		   
#sale .button {clear: both;
			   display: block;
			   margin: 0 auto;
			   width: 40%;}

/**search results styles**/
#failed-search {background-color: #F7F8F3;
				padding: 20px;
				border-bottom: 2px solid #363544;
				margin-bottom: 0;
				margin-top: -30px;}

#results {background-color: #F7F8F3;
		  padding: 20px;
		  border-top: 2px solid #363544;}

#results h1 {margin-bottom: 40px;
			 font-size: 3em;}

.book {margin-bottom: 50px;}

.book img {width: 100px;
		   margin-right: 0;
		   padding-right: 0;}

.book img:hover, .book img:active {box-shadow: 0px 0px 8px #5C13A5;}

.description {float: right;
			  width: 60%;
			  margin-top: -15px;
			  padding-top: 0;}

.description h3 {font-size: 1.2em;
				 color: #363544;
				 margin-bottom: -10px;
				 line-height: 1.3em;}	

.description h3 a {color: #363544;}

.description h3 a:hover, .description h3 a:focus {color: #7117CB;}
.author, .price {color: #363544;
				 font-size: .95em;}	
				 
.author {margin-bottom: -10px;}	


.description .button {font-size: 1em;
			         padding: 5px;}
			   
#books {padding-top: 20px;}

/**Single Product page styles**/
#product {color: #F7F8F3;
		  padding: 20px;
		  padding-bottom: 30px;}

#product h1 {text-align: center;
		     font-weight: 700;
		     color: #F7F8F3;
		     font-size: 3em;
		     margin-bottom: 0;}
		  		  
#product img {margin: 30px auto;
			  display: block;
			   width: 70%;}

#book-author {padding-right: 10px;
			  font-size: 1.25em;
			  margin-top: 0px;
			  text-align: center;
			  font-weight: bold;}
			  	
#summary {width:100%;}		  
#purchasebtns button {margin-top: 25px;
					  width: 100%;}		  
					  
/**cart styles*/
#cart {padding: 20px;
       color: #F7F8F3;
       width: 90%;}		
       
#cart h1 {font-size: 3em;}

#products {display: flex;
		   width: 100%;
		   box-sizing: border-box;
		   margin: 0;}
		   
.product-info {width: 100%;
			   margin-right: 15px;}

.product-info img {width: 90%;
				   padding-top: 10px;}	   			  

.product-info:nth-child(1) {margin: 0;}

.item-info {font-weight: bold;
			text-align: center;}

.product-info p {text-align: center;}


#cartbtns {margin-top: 30px;
		   margin-bottom: 20px;
		   display: flex;
		   width: 100%;
		   box-sizing: border-box;}

#cartbtns .button {text-transform: capitalize;
				  font-size: 1em;
				  padding: 5px;
				  width: 80%;
				  margin-right: 10px;
				  text-decoration:none;}

#cartbtns .button:hover, #cartbtns .button:active {font-weight: normal;}	

/**checkout styles**/
#checkout {padding: 20px;
		   padding-top: 4em;
		   color: #F7F8F3;
		   width: 95%;}
#checkout h1 {font-size: 3em;}

hr {width:95%;
    background-color: #7F1AE5;
    border: 1px solid #7F1AE5;
    margin-right: 20px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    margin-left:0;}

#required {padding-bottom: 1.2em;}
#required span {color: #C86521;
			    font-weight: bold;}

#return-link a {color: #C86521;
				text-decoration: none;}
				
#return-link a:hover, #return-link a:active {color: #F7F8F3;}

/**form styles**/
form {margin-bottom: 80px;
	  margin-top: 20px;}

label {color: #F7F8F3;
	   display: block;
	   margin-bottom:0;
	   padding-bottom: 5px;
	   font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";
	   font-size: 1.1em;}

select {color: #363544;
	    font-size: 1.1em;
	    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";
		padding: 5px;}


#checkout input, #checkout select {width: 90%;
	                               margin-bottom: 2.75em;}		
		                                        
#checkout #cartbtns {margin-top: -40px;}  

#addresses {width: 90%;
            margin-bottom: 3em;}
#addresses input {width: 10%;
				  margin-bottom: 0;}
				  
#shippingOptions {margin-bottom: 4em;}				  

#shippingOptions input {width: 5%;}

#shippingOptions .full-width input {width: 90%;}

#shippingOptions h2 {font-size: 2em;}

/**progress bar**/
#progress {margin-top: 1.5em;
		   margin-left: 0;
		   margin-right: 0;
		   margin-bottom: 1em;
		   padding: 0;}

#progress img {margin: 0 auto;
			   padding: 0;
			   width: 90%;
			   display: block;}

/**review styles**/
#review {margin-top: 5em;}
#review h1 {color: #F7F8F3;
			margin-left: .4em;
			font-size: 3em;}

.edit a {color: #C86521;
	     font-size: .65em;}

#review-content {background-color: #F7F8F3;
				 color: #363544;
				 width: 100%;}
				 
#review h3 {text-align: center;
			font-size: 1.75em;}

#review p {font-size: 1.15em;}
.review-info {padding: 20px;
			  margin-bottom: 0;}
.rv-img {margin-top: 10%;
		 margin-left: 20%;
		 width: 60%;}	
		 	
.review-info .button {margin: 40px auto;
					  display: block;
					  width: 90%;}

#confirmation {color: #F7F8F3;
			   padding: 20px;
			   margin-bottom: 12em;}

#confirmation span {font-weight: 700;
					color: #C86521;} 	

#confirmation a {color: #C86521;}

#remove {padding-left: 60%;
		 margin-top: 20px;
		 margin-bottom: 25px;}					
#remove a {color: #C86521;
		   font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, "sans-serif";}   

#remove a:hover {color: #F7F8F3;}

	     
/**footer styles--universal**/	 		
footer {background-color: #F7F8F3;
		margin-bottom: 0;
		padding: 20px 5px 0 20px;
		border-top: 5px solid #9E9EB2;}

footer a {text-decoration: none;
		  display: inline;
		  margin-right: 12%;
		  margin-left: 7%;}	
		  	
.fab, .fas {width: 50px;
			height: 50px;
			font-size: 30px;
			color: #7F1AE5;}

.fab:hover, .fas:hover,
.fab:active, .fas:active {color: #380C65;
						  cursor: pointer;}
						  
.bold {font-weight: bold;}

/***FIRST BREAK POINT***/
@media (min-width: 540px) {
	/**header**/
	header img {margin: 30px 0 5px 35%;
			    width: 150px;}
			
	header i {padding-top: 30px;}
	
	/**navigation**/
	nav ul {font-size: 1.2em;}
	nav ul li a {padding-right: 5%;
				 padding-left: 5%;
				 padding-bottom: 5px;}
				 
   /**search**/
   #search input {width: 75%;}	
   #searchButton {padding-left: 20px;
   				  padding-right: 20px;}
   	
   	/**button styles**/
   	button, .button {font-size: 1.5em;}
   	
   	/**headline sizes**/
   	#new-book h1, #results h1, #product h1, #cart h1, 
   	#checkout h1, #review h1, #confirmation h1 {font-size: 5em;}
   	#feat-author h2, #sale h2 {font-size: 3.5em;}
   	#checkout h2 {font-size: 3em;}
   	.description h3 {font-size: 1.5em;}
    #feat-author h6 {font-size: 2.2em;}
   	
   /**new book section on home page**/
   #new-book img {width: 55%;}
   #new-book p {font-size: 2.5em;}
   
   /**featured author section on home page**/
   #feat-author p {font-size: 1.2em;
   				   width: 65%;}
   				   
   /**sale section on home page**/
   #sale img {width: 80%;
   			  margin-left: 30px;}
   .strikethru, .saleprice {font-size: 1.3em;}	
   
   /**search result and books page styles**/
   #books {padding: 40px;}
   .book img {width: 40%;}		
   
   .description {width: 55%;
			     margin-top: 0; }
	.author, .price {font-size: 1.15em;}
	.description .button {font-size: 1.3em;
			              padding: 8px;}
	#failed-search {width: 100%;
					margin-top: -60px;}
	#failed-search p {font-size: 1.15em;}
	#failed-search input {width: 70%;}
	#failed-search #searchBtn {padding-left: 15px;
							   padding-right: 15px;}
							   
	/**single book product page**/
	#product {padding: 40px;}
	#book-author {font-size: 1.75em;}
	#summary {font-size: 1.05em;}
	
	
	/**cart page***/
	#cart {padding: 40px;}
	.item-info {font-size: 1.5em;}
	#cart .product-info {font-size: 1.15em;}
	#remove {font-size: 1.15em;
			 padding-left: 70%;}
	#cartbtns {font-size: 1.35em;}
	#cartbtns .button {padding: 10px;}
	
	/**checkout page--shipping**/
	#checkout {padding: 40px;}
	#progress {width: 70%;
			   margin: 3em auto;}
	hr {height: 1px;
		border: 1px solid #7F1AE5;}
	#required, label {font-size: 1.25em;}
	#return-link {font-size: 1.25em;}
	
	/**billing section styles**/
	#shippingOptions p {font-size: 1.25em;}
	
	/**review page**/
	#review h3 {font-size: 3em;}
	.edit {font-size: .75em;}
	#review p {font-size: 1.2em;}
	.review-info {padding: 40px;}
	
	/*confirmation page*/
	#confirmation {padding: 40px;}
	#confirmation p {font-size: 1.15em;}
	#confirmation h2 {font-size: 2em;}
	
	/**footer**/
    footer a {padding-left: 4%;}
    .fab, .fas {width: 70px;
   			   height: 70px;}
}

/***SECOND BREAK POINT***/
@media (min-width: 880px) {
	
	/**header**/
	header img {margin: 30px 0 5px 40%;
			    width: 200px;}
	
	/**navigation**/
	nav ul {font-size: 1.3em;}
	nav ul li a {margin-left: 20px;
				 margin-right: 20px;}
				 
	/**search**/
   #search input {width: 80%;}	
   #searchButton {padding-left: 30px;
   				  padding-right: 30px;}
   #close {padding-left: 30px;
   		   padding-right: 30px;}
   
   
   /**new book section on home page**/
   #new-book img {float: left;
   				  width: 28%;
   				  margin-left: 125px;
   				  margin-top: -250px;}
   #new-book h1 {width: 50%;
   				 position: relative;
   				 left: 375px;
   				 font-size: 4.5em;}
   #new-book .button {width: 20%;
   	 					margin-left: 500px;}
   				  
   	/**secondary content**/
   	#secondary-content {clear: both;
   				        display: flex;
   				        width: 100%;}
   				
   	#feat-author, #sale {width: 50%;}
   				         
   	/**search result and books page styles**/
   	.book img {width: 30%;}
   	.description {width: 65%;}
   	.description h3 {font-size: 2.5em;}
   	.author, .price {font-size: 1.5em;}
   	.price {margin-bottom: 55px;}
   	.description .button {padding: 15px;}
   	#results h1 {margin-left: .55em;}
   	#failed-search {padding-left: 55px;
   					padding-bottom: 40px;
   					padding-right: -40px;
   					width: 92%;}
   	#failed-search p {font-size: 1.3em;}
   	
   	/**single product page**/
   	#product h1 {margin-bottom: .5em;}
   	#product img {width: 40%;
   				  float: left;
   				  margin-right: 30px;}
   	#details {margin-top: 100px;
   			  padding: 30px;}
   	#purchasebtns {clear: both;
   				   padding-top: 20px;}
   	#purchasebtns button {width: 60%;
   						  margin: 25px auto;
   						  display: block;}
   	
   	/**shopping cart and empty cart**/
   	#cart p {font-size: 1.3em;}
   	.product-info p {font-size: 1.3em;}
   	#remove a {font-size: 1.3em;
   			   margin-left: 40px;}
   	#cartbtns .button {font-size: 1.6em;}
   	
   	/**checkout -- shipping**/
    #checkout form {width: 70%;}
   	hr {margin-top: 60px;
   	    margin-bottom: 60px;}
   	
   	/**review page**/
   	#review #progress img {width: 80%;}
   	#review h1 {margin-left: 1em;}
   	
   	#review-content {display:flex;
   					 width: 100%;
   					 flex-wrap: wrap;
   					 padding-left: 3em;}
   	.review-info {width: 35%;}
   	.review-info img {width: 80%;
   					  padding-top: 5em;}
   					  
   	/**confirmation**/
   	#confirmation p {font-size: 1.3em;}				  
   	
   	/**footer**/
   	footer {clear: both;
   			padding-top: 25px;
   			padding-bottom: 15px;}
   	.fab, .fas {width: 50px;
   			   height: 50px;
   			   font-size: 3em;
   			   margin-left: 25px;}   	
}

/***THIRD BREAK POINT***/
@media (min-width: 1000px) {
	/**new book section on home page**/
	#new-book {height: 630px;}	
    #new-book img {float: left;
   				   max-width: 20%;
   				   margin-left: 200px;
   				   margin-top: 50px;}
    #new-book h1 {width: 100%;
    			  position: relative;
    			  left: 0;
    			  top: 40px;
    			  margin-bottom: 20px;}
   	 #new-book p {text-align: left;
   	 			  position: relative;
   	 			  left: 80px;
   	 			  top: 80px;
   	 			  margin-bottom: 60px;}
   	 #new-book .button {width: 10%;
   	 					position: relative;
   	 					top: 80px;
   	 					left: 100px;}
   	 
   	 /**books and search**/
   	 .book img {max-width: 300px;}				
   	 	
   	 /**single book page**/
   	 #product img {max-width: 25%;
   	 			   margin-right: 50px;
   	 			   margin-left: 100px;}
   	 #details {padding-left: 80px;
   	 		   padding-right: 80px;
   	 		   max-width: 900px;}
   	 		   
   	 /**cart**/
   	 .product-info img {max-width: 60%;
   	 				    margin-left: 50px;}
   	 #cartbtns {margin-left: 40%;
   	 		    margin-top: 60px;}
   	 #cartbtns .button {font-size: 1.2em;
   	 					width: 30%;}
   	 
   	 /**checkout**/
   	#progress img {max-width: 65%;}
   	#review #progress img {max-width: 65%;}
   	.review-info img {max-width: 60%;}
    
    /**review page**/
    #review-content {padding-left: 100px;}
    
    /**confirmation**/
    #confirmation {padding-left: 100px;
    			   padding-right: 180px;}
   		
}