/**CSS for My Portfolio Website
	Author: Jennifer Bailey
**/

@import url('https://fonts.googleapis.com/css?family=Life+Savers:400,700|Tajawal:400,700');
/**
	font-family: 'Tajawal', sans-serif;
    font-family: 'Life Savers', cursive;
**/

body {margin: 0;
	  padding: 0;
	  width: 100%;
	  overflow-x: hidden;
	  background-color: #161616;}
	  
/**Landing Page**/
.work-display-btns {margin-top: 10px;}

.work-display-btns ul {font-size: 1.2em;
	                   list-style: none;
	                   text-align: center;
	                   margin: 0;
	                   padding: 0;}

.work-display-btns ul li {background-color: #9600ce;
			              border: 2px solid #9600ce;
			              border-radius: 10px;
			              margin: 10px auto;
	 		              width: 100%;
	 		              display: inline-block;
	 		              padding-top: 8px;
				          padding-bottom: 5px;}

.work-display-btns ul li {width: 45%;
						  padding-top: 5px;}

.work-display-btns ul li a {text-decoration: none;
				            text-align: center;
				            color: #FFF;
				            font-family: 'Tajawal', sans-serif;
				            font-weight: bold;
				            font-size: 1em;
				            letter-spacing: 1px;
				            padding: 5px 90px;}

.work-display-btns ul li a {padding: 5px;}

.work-display-btns ul li:hover {background-color: #5FFAA7;
					            border: 2px solid #5FFAA7;}

.work-display-btns ul li a:hover {color: #333333;
						          background-color: #5FFAA7;}
					   
#home-content {margin: 0;
			   padding: 20px;
			   margin-bottom: 10px;}
			   
#home-content h1 {font-family: 'Life Savers', cursive;
				  font-weight: bold;
				  color: #52b5b0;
				  text-align: center;
				  font-size: 3em;
				  margin-bottom: 0;}

#home-content h2 {font-family: 'Life Savers', cursive;
				  font-weight: bold;
				  color: #3B8686;
				  text-align: center;
				  font-size: 2em;
				  margin-top: 30px;
				  margin-bottom: 30px;}
				  
#home-content p {font-family: 'Tajawal', sans-serif;
				 color: #fff;
				 font-size: 1.2em;
				 margin: 0 auto;
				 width: 95%;
				 max-width: 750px;}

#home-nav {width: 100%;
           height: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;}	
           
.home-nav-item {width: 4em;
                height: 2em;
                padding: 1em;
                margin: 0.4em;
                background-color: #9600ce;
                color: #fff;
                border-radius: 1em;
                text-align: center;
                font-family: 'Tajawal', sans-serif;
                font-size: 1.5em;
                font-weight: bold;}		 

#hnav1::before {content: "About Me";}	
#hnav2::before {content: "Design Work";}
#hnav3::before {content: "My Writing";}

.home-nav-item:hover {width: 8em;
                      height: 7em;
                      background-color: #52b5b0;}
.home-nav-item {transition-property: width, height, background-color;
                transition-duration: 0.5s;}

.home-nav-item a {font-family: 'Tajawal', sans-serif;
                  font-size: 1em;
                  color: #9600ce;
                  font-weight: normal;
                  text-decoration: none;}  
.home-nav-item a:hover {text-decoration: underline;
						font-style: italic;} 
						
						           		 
/**Navigation**/
nav {margin: 0;
	 padding: 0;
	 position: fixed;
	 top: 0;
	 left: 0;
	 background-color: #000000;
	 width: 100%;
	 font-family: 'Tajawal', sans-serif;
	 z-index: 9999;
	 padding-bottom: 15px;}
			
nav ul {list-style: none;
		margin: 0;
		padding: 22px 0 0 4px;
		font-size: 1.05em;}
			
nav ul li {display: inline-block;
		   width: 30%;
		   text-align: center;}
			
nav ul li a {text-decoration: none;
			 font-weight: normal;
			 color: #69D2E7;}

nav ul li a:hover {border-bottom: 3px solid #5FFAA7;
				   padding-bottom: 3px;}
			
nav ul ul {position: absolute;
		   background-color: #333333;
		   padding: 0;
		   text-align: left;
		   padding-left: 10px;}

nav ul ul li {text-align: left;}
nav ul li:nth-child(3)>ul {margin-left: -20px;}

nav ul ul li {display: block;
			  width: 7em;
			  line-height: 2em;}

.active {color: #5FFAA7;}
#close-about, #close-writings, #close-design {color: #bbe4ea;}
#close-about:hover, #close-writings:hover, #close-design:hover {border-bottom: 3px solid #5FFAA7;
				   												padding-bottom: 3px;}

/**Main**/
main {padding:20px;
	  margin: 0 auto;
	  width: 90%;
	  max-width: 980px;}
	  
main h1 {font-family: 'Life Savers', cursive;
		 font-weight: bold;
		 color: #52b5b0;
		 text-align: center;
		 font-size: 3.2em;
		 margin-top: 80px;
		 margin-bottom: 0;}
		 
.intro-graph {font-family: 'Tajawal', sans-serif;
			  color: #fff;
			  font-size: 1.2em;
			  margin-top: 40px;} 
			  
			  
/**Text-only elements**/
#text-only {display: flex;
		    width: 95%;
		    flex-wrap: wrap;
		    margin: 0 auto;}

.txt-content {margin-top: 30px;
			  width: 100%;}

.txt-content h2 {font-size: 2.5em;
				 color: #3B8686;
				 font-family: 'Life Savers', cursive;
				 font-weight: bold;;
				 margin-top: 10px;
				 margin-bottom: 0;}

			  
.txt-content h3 {font-size: 2em;
				 color: #BB65D4;
				 font-family: 'Life Savers', cursive;
				 font-weight: bold;
				 margin-top: 10px;
				 margin-bottom: 30px;}

.txt-content p, ul {font-family: 'Tajawal', sans-serif;
				     color: #fff;
				     font-size: 1.2em;}		
.txt-content dl, 
.txt-content dt, 
.txt-content dd {font-family: 'Tajawal', sans-serif;
				 color: #fff;
				 font-size: 1.1em;}
.txt-content dt {font-weight: bold;
				 margin-top: 20px;}

.txt-content ul li {line-height: 1.3em;}

.txt-content a {text-decoration: none;
                color: #5FFAA7;
                font-style: italic;}

.txt-content a:hover {text-decoration: underline;}
                
.emphasis {font-weight: bold;
		   color: #bbe4ea;}  	


/**text only elements with locked button**/		
hr {width: 100%;
    margin-top: 50px;
    border: 1.5px solid #9600ce;
    border-radius: 2px;}   
    
#text-only2 {display: flex;
		     width: 95%;
		     flex-wrap: wrap;
		     margin: 0 auto;}

.txt-content2 {margin-top: 30px;
			   width: 100%;
			   position: relative;}

.txt-content2 h2 {font-size: 2.5em;
				  color: #52b5b0;
				  font-family: 'Life Savers', cursive;
				  margin-top: 10px;
				  margin-bottom: 10px;}

			  
.txt-content2 h3 {font-size: 1.5em;
				  color: #BB65D4;
				  font-family: 'Life Savers', cursive;
				  margin-top: 10px;
				  margin-bottom: 0;
				  line-height: 1.4em;}

.txt-content2 p, ul {font-family: 'Tajawal', sans-serif;
				     color: #fff;
				     font-size: 1.2em;
				     margin-bottom: 50px;}		

.txt-content2 a {text-decoration: none;
                 color: #52b5b0;
                 font-style: italic;}
                 
.read-link {padding-top: 10px;
			text-align: right;
			padding: 10px 10px 8px 0;
			position: absolute;
			bottom: 2px;
			right: 10px;
			font-family: 'Tajawal', sans-serif;}

.read-link a {color: #5FFAA7;
			  text-transform: uppercase;
			  text-decoration: none;
			  font-weight: normal;
			  font-size: 1.1em;}                 

.read-link a:hover {text-decoration: underline;}


/**images and text pages**/
#work-display {display: flex;
		       width: 95%;
		       flex-wrap: wrap;
		       margin: 0 auto;}

.work-display-content {margin-top: 50px;
			           width: 100%;}

.work-display-content img {width: 95%;
						   display: block;
						   margin: 0 auto;
						   border-radius: 4px;}

.work-display-content img:hover {background: #fff;
								 opacity: .7;}
		
#work-display2 {display: flex;
		       width: 95%;
		       flex-wrap: wrap;
		       margin: 0 auto;}
						 
.work-display-content2 {margin-top: 50px;
			            width: 95%;}

.work-display-content2 img {width: 75%;
						   display: block;
						   margin: 0 auto;
						   border-radius: 4px;}

.work-display-content2 img:hover {background: #fff;
								 opacity: .7;}
								 
								 

.read-link2 {margin-top: 20px;
			 text-align: center;
			 font-family: 'Tajawal', sans-serif;
			 font-size: 1.6em;}

.read-link2 a {color: #5FFAA7;
			   text-transform: uppercase;
			   font-weight: normal;
			   letter-spacing: .5px;} 
			   
.read-link2 a:hover {color: #bbe4ea;}


.work-display-content p {font-family: 'Tajawal', sans-serif;
				         color: #fff;
				         font-size: 1.2em;}
				         
.image-title {margin-top: 30px;
			  text-align: center;
			  font-family: 'Tajawal', sans-serif;
			  font-size: 1.6em;
			  color: #5FFAA7;
			  text-transform: uppercase;
			  font-weight: normal;
			  letter-spacing: 1px;}		         
				         
.graphics-thumb {max-width: 300px;}

/**About Page**/
#bio {display: flex;
	  width: 95%;
	  flex-wrap: wrap;
	  margin: 0 auto;}

.bio-content {width: 100%;
			  margin-top: 30px;}

.bio-content h2 {font-size: 2.25em;
				 color: #BB65D4;
				 font-family: 'Life Savers', cursive;
				 font-weight: bold;
				 margin-top: 10px;
				 margin-bottom: 0;
				 line-height: 1.2em;}

.bio-content h4 {font-size: 1.6em;
				 color: #bbe4ea;
				 font-family: 'Life Savers', cursive;
				 font-weight: bold;
				 margin-top: 10px;
				 margin-bottom: 0;}

.bio-content img {width: 99%;
				  margin-top: 30px;
				  margin-bottom: 20px;
				  border-radius: 4px;}
				
.bio-content p, ul {font-family: 'Tajawal', sans-serif;
				    color: #fff;
				    font-size: 1.2em;
				    margin-bottom: 50px;}					

.bio-content a {text-decoration: none;
                color: #5FFAA7;
                font-style: italic;}
.bio-content a:hover {text-decoration: underline;}
.bio-content ul {margin-left: -20px;}
.bio-content ul li {margin-bottom: 20px;}
.bio-content ul li a {text-decoration: none;
                      color: #5FFAA7;
                      font-style: italic;}
.bio-content ul li a:hover {text-decoration: underline;}

				
/**Footer**/
footer {background-color: #000;
		padding: 10px;}	
						  
footer ul {list-style: none;
           margin: 0 auto;
           width: 95%;
           padding: 0;
           line-height: 2em;
           font-size: .95em;}

footer ul li {display: inline-block;
			  text-align: center;
			  width: 30%;
			  padding-left: 5px;}
			  
		
footer ul li a {text-decoration: none;
			    font-weight: normal;
			    color: #69D2E7;
			    font-family: 'Tajawal', sans-serif;
			    padding-right: 0;
			    padding-left: 0;}
			    
footer ul li a:hover {border-bottom: 3px solid #5FFAA7;
				      padding-bottom: 3px;}

/**FIRST BREAKPOINT**/
@media (min-width: 800px) {
	/**landing page**/
	#home-content h1 {font-size: 5em;
					  line-height: 2em;} 
	#home-content h2 {font-size: 2.5em;
					  margin-bottom: 60px;}
	#home-content p {font-size: 1.3em;}
	#home-nav ul li {width: 50%;}
	
	
	/**main navigation**/
	nav ul {font-size: 1.15em;}
	nav ul li ul {margin-left: 100px;}
	nav ul li:nth-child(3)>ul {margin-left: 100px;}
	nav ul ul li {width: 8em;}
	
	
	/**Global**/
	main h1 {font-size: 4em;
			 line-height: 2em;}	 
	.intro-graph {font-size: 1.3em;
				  max-width: 980px;}		 
		
			 		     
	/**Text only content**/
	#text-only {width: 100%;}
	.txt-content {margin-top: 50px;
			  	  width: 44%;}	  	  
	.txt-content:nth-child(even) {margin-left: 70px;}			  
	.txt-content h3 {font-size: 2.25em;}

	.txt-content p, ul {font-size: 1.3em;}

	#text-only2 {width: 100%;}
	.txt-content2 {margin-top: 50px;
			       width: 45%;}
	.txt-content2:nth-child(even) {margin-left: 50px;}
	.txt-content2 h3 {font-size: 1.8em;}
	.txt-content2 p {font-size: 1.3em;}
	
	
	/**About page**/
	#bio {width: 100%;}
	.bio-content:first-child {width: 60%;
			  				  margin-top: 60px;}
	.bio-content:last-child {width: 31%;
							 margin-left: 60px;
							 margin-top: 60px;}
	.bio-content h2 {font-size: 2.5em;}
	.bio-content h4 {font-size: 1.9em;}
	.bio-content p, ul {font-size: 1.3em;}	
				    
				    					 
	/**text and image displays**/
	#work-display {width: 100%;}
	.work-display-content {margin-top: 70px;
			           	   width: 46%;}	           	   
	.work-display-content:nth-child(even) {margin-left: 60px;}
	.image-title {font-size: 1.9em;}
	
	#work-display2 {width: 100%;}
	.work-display-content2 {margin-top: 70px;
			            	width: 45%;}
	.work-display-content2:nth-child(even) {margin-left: 50px;}
	.work-display-content2 img {width: 85%;}
	
	/**footer**/
	footer {padding-top: 15px;
			padding-left: 20px;}
	footer ul {font-size: 1.15em;
			   width: 90%;
			   margin: 0 auto;}
	

}